    header {
      height: 65px;
      user-select: none;
      border: none;   /*grove, double, dotted, dashed, solid*/
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0px;
      left: 10px;
      right: 10px;
      z-index: 3;
      background-color: rgb(0, 0, 0);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 5px;
      box-shadow: 3px 3px 30px rgba(0, 0, 91, 0.815);
    }
    
      .Bank-name {
        font-family: "Train One";
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        white-space: nowrap;   
        position: relative; 
        width: 100px;   
        color: white;
      }
      .Bank-name::after {
        content: "";
        height: 5px;
        width: 100%;
        background :linear-gradient(to right,purple,red,blue);
        position: absolute;
        bottom: 0;
        left: -2px;
      }
         .Bank-name::before {
        content: "";
        height: 100%;
        width: 4px;
        background :linear-gradient(to bottom,blue,red,purple);
        position: absolute;
        top: 0;
        left: -5px;
      }
  @keyframes eurekablue {
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
  }
  .return-btn {
    height:20px;
    width: 50px;
    font-size: 1.3em;
    padding: 0;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 3em;
    font-weight: bolder;
    transition: color 0.3s,background-color 0.35s;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: progress;
  }
  .return-btn:hover {
    background-color: white;
    color: black;
    border-color: blue;
    box-shadow: 2px 3px 90px whitesmoke;
  }
.load-pic {
  position: absolute;
  top: 50%;
  right: 40%;
  translate: -50% -50%;
  z-index: 1;
  background:none;
  opacity: 100%;
  user-select: none;
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  }
  @keyframes spin {
  0% {
  transform: rotate(90deg);
      opacity:0%;
  }
  25% {
  transform: rotate(180deg);
  opacity: 100%;
  }
  50% {
  transform: rotate(270deg);
  opacity: 100%;
  }
  75% {
  transform: rotate(360deg);
  opacity: 100%;
  }
  100% {
  transform: rotate(450deg);
  opacity: 0%;
  } 
  }
